<div class="container">
    <% if @unrated_movie %>
      <div class="unrated">
        <%= render partial: 'unrated_movie' %>
      </div>
    <% end %>
  </div>
</div>

<% if @new_signup %>
  <%= render 'layouts/signup_conversion' %>
<% end %>