<div class="container">
    <% if @unrated_movie %>
      <div class="matches">
        <%= render 'users/potential_matches' %>
      </div>
      <div class="unrated">
        <%= render partial: 'unrated_movie' %>
      </div>
    <% end %>
  </div>
</div>