<a data-toggle="modal" data-target="#myModal" class="modal-link" href="#">
  <div class="col-sm-2 col-xs-4 user">

    <div class="circle-avatar-background">
        <div class="circle-avatar" style="background-image:url(https://randomuser.me/api/portraits/med/women/5.jpg)"></div>
    </div>
     <div class="text-center">
       <p><i class="glyphicon glyphicon-comment"></i> Brittany S. 46</p>
    </div>

<!-- for modal data population -->

    <div class="hidden-user-data">
      <div class="user-name">
        Brittany
      </div>
      <div class="user-id">
        43
      </div>
      <div class="user-image">
        https://randomuser.me/api/portraits/med/women/5.jpg
      </div>
      <div class="user-wants-to-see">
        <a href="/movies/2">Spectre</a>
      </div>
    </div>
    
</div>
</a>