  <div class="row">
    <h1><i class="glyphicon glyphicon-user"></i> <%= @potential_matches %></h1>
    
      <div class="text-center">
        <p style="font-size:10px">
           <% if @potential_matches < 1 %>
              Liking movies gets you more connections
          <% else %>
              You're connected to <%= @potential_matches %> people who love movies
          <% end %>
      </p>
      </div>
  </div>
