<%= render 'pages/homepage_nav', :type=>"" %>

<div class="hero">
  
  <h1>Watch better movies, together.</h1>
  <h2>Seek shows you people nearby who want to see the same movies as you do.</h2>
  <div id="about">
    <b><%= link_to "See How it Works", new_user_session_path %></b>
  </div>

  <%= render 'devise/facebook' %>
</div>