<div class="hero" style="background: image-url('hero2.jpg') no-repeat center center !important;">
  
  <h1>Meet people who like movies.</h1>
  <h2>Seek shows you people nearby who want to see the same movies as you do.</h2>

  <%= render 'devise/facebook' %>
</div>