<%= render 'pages/hero' %>
<div class="container">
  <div class="spacer"></div>
  <div class="well">
      
  </div>

  <div class="row">
    <h3>Pick movies you want to see</h3>
  </div>

  <div class="row">
    <h3>See who else wants to see them</h3>
  </div>

  <div class="row">
    <h3>Connect and meet up in real life</h3>
  </div>

  <div class="spacer"></div>

</div>

<script>
  $('#about').hide();
  $('.facebook').show();
</script>
