<%= render 'pages/hero' %>
<div class="container">
  <div class="spacer"></div>
  <div class="well">
      
  </div>

 <%= render 'pages/benefits' %>

</div>

<script>
  $('#about').hide();
  $('.facebook').show();
</script>
