<%= render 'pages/nav', :type=>"" %>

<div class="potential">
  <%= render 'users/potential_matches' %>
</div>

<div class="small-spacer">
    <h3>Now Playing</h3>
</div>
<div class="container">
  <%= render @movies %>
</div>

<%= render 'users/contact_form' %>
