// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.unrated {
  border-bottom: 1px solid #EEE;
  padding: 50px 0;
}

.light-border {
  border-top: 1px solid #eee;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  height: 150px;
  margin: 10px;
}

.movie_rating_form {
  display:inline;
}

.btn-info {
  width: 100%;
  border-radius: 0px;
}

.seen {
  color: #e74c3c;
  vertical-align: middle;
}

.seen:hover, .seen:active {
  color: #c0392b;
}

.people-count {
  padding: 10px 0;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.hidden-user-data {
  display: none;
}

@media (min-width: 768px) {

 .vertical-align {
    display: flex;
    align-items: center;
  }

}
