<div class="row text-center facebook">
  <%= link_to image_tag('facebook.png', :class=>"img-responsive centered"), user_omniauth_authorize_path(:facebook) %>
  <p style="color:white; font-size: 12px;"><i class="glyphicon glyphicon-info-sign"></i> We never post anything to Facebook</p>
</div> 