<div class="spacer"></div>
 
 <div class="feedback text-center">
    <p>Comments? Suggestions? <%= mail_to 'jackson@pixelburst.co', 'Please give us feedback', :subject=>"Seek App Feedback" %>.</p>
</div>
